body{
    background-image: url("https://static.tumblr.com/eabf539422736a0ed83bd80865c0692f/ug3aess/JrJovfq2x/tumblr_static_tumblr_static_cibrzg63sso4okwo40c0wosk8_640.gif");
    background-repeat: no-repeat;
    background-size:cover;
}